# Configuración de PostgreSQL
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_password_aqui
POSTGRES_DB=tu_base_de_datos_aqui

# Puertos
APP_PORT=8080
DEBUG_PORT=5005

# URL de conexión para Spring Boot (apunta al nombre del servicio 'db' en docker-compose)
DB_URL=jdbc:postgresql://db:5432/tu_base_de_datos_aqui
